.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 48px 24px;*/
    /*gap: 24px;*/
  }

  .placeholder {
    width: 222px;
    height: 228px;
    background: var(--color-dark-500);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin: 68px 0 60px;
  }


