
.dialog {
  margin-top: 500px;
  background-color: #333333;
  padding: 0;
}


.wrapper {
  width: 100%;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  border: none;
  background: #333333;
}

.imgBox {
  display: flex;
  flex: 0 0 490px;
  max-width: 490px;
  background: #f5f5f5;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  flex: 1;
  padding:  0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;

}

/* PostCard - верхняя часть */
.post {
  flex-shrink: 0;
  margin-bottom: 24px;
  box-shadow: none;
}

.textarea {
  width: 100%;
  min-height: 144px;
}

/* Счетчик - фиксированная высота */
.counter {
  font-size: 12px;
  line-height: 24px;
  color: #8D9094;
  text-align: right;
  flex-shrink: 0;
}

.button {
  /* Стилизация кнопки */
  max-width: 100%;
  margin-top: 200px;
  align-self: flex-end;
}
