html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-inter), sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  line-height: var(--line-height-m);
  color: var(--color-light-100, #fff);
  background-color: var(--color-dark-700);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* To ensure that your fields do not have a standard color when selecting from a list of previously entered values */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: linear-gradient(
    rgb(255 255 255 / 0%) 0%,
    rgb(0 174 255 / 4%) 50%,
    rgb(255 255 255 / 0%) 51%,
    rgb(0 174 255 / 3%) 100%
  );
  box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: var(--color-light-100, #ffffff);
}
