.paymentButton {
  min-width: 150px;
  padding: 12px 24px;
  font-weight: var(--font-weight-bold);
}

.paypal {
  background-color: #0070ba;
  color: var(--color-light-100);
}

.paypal:hover {
  background-color: #005ea6;
}

.stripe {
  background-color: #635bff;
  color: var(--color-light-100);
}

.stripe:hover {
  background-color: #5548e5;
}

