{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed"
}
