/* Overlay (затемнение фона) */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: var(--color-dark-900);
  opacity: 0.6;
}

.overlay[data-state='open'] {
  animation: fadeIn 200ms ease-out;
}

.overlay[data-state='closed'] {
  animation: fadeOut 200ms ease-in;
}

/* Content (само модальное окно) */
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: calc(100% - 2rem);

  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
}



.content[data-state='open'] {
  animation: zoomIn 200ms ease-out;
}

.content[data-state='closed'] {
  animation: zoomOut 200ms ease-in;
}

/* Close button */
.closeButton {
  opacity: 0.7;
  transition: opacity 200ms;
  background: transparent;
  border: none;
  cursor: pointer;
  justify-content: center;

}

.closeButton:hover {
  opacity: 1;
}

.closeButton:focus {
  outline: 2px solid var(--color-accent-500);
  outline-offset: 2px;
  border-radius: 2px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Header */
.header {

}



/* Footer */
.footer {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}


/* Title */
.title {

}

/* Description */
.description {
  font-size: 14px;
  color: var(--color-light-700);
}

/* Animations */
