/* Overlay (затемнение фона) */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: var(--color-dark-900);
  opacity: 0.6;
}


.overlay[data-state='open'] {
  animation: fadeIn 200ms ease-out;
}

.overlay[data-state='closed'] {
  animation: fadeOut 200ms ease-in;
}


.titleModal {
  margin: 0;
  text-align: left;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-100);
  height: 60px;
  align-items: center;
  margin-bottom: 30px
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);

  max-width: calc(100% - 2rem);
  padding: 0px 24px 36px;
  width: fit-content;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);

}



.content[data-state='open'] {
  animation: zoomIn 200ms ease-out;
}

.content[data-state='closed'] {
  animation: zoomOut 200ms ease-in;
}

/* Close button */
.closeButton {
 width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  color: var(--color-light-100);
}

.closeButton:hover {
  opacity: 0.6;
}

/* Header */






/* Description */
.description {
  font-size: 14px;
  color: var(--color-light-700);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
}

