.postItem {
  position: relative;
  width: 234px;
  height: 390px;
  display: flex;
  flex-direction: column;
}

.postImageWraper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 4px;
  transition: height 0.3s ease;
}

.postImageWraperExpanded {
  aspect-ratio: auto;
}

.postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postImagePlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-300);
  color: var(--color-light-900);
}

.userInfo {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.userName {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--color-light-900);
}

.description {
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color-light-100);
}

.descriptionText {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.showMoreButton {
  margin-left: 5px;
  padding: 0;
  border: none;
  color: var(--color-accent-500);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  white-space: nowrap;
  display: inline;
}

.showMoreButton:focus,
.showMoreButton:active {
  outline: none;
  border: none;
}
