.avatar {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.avatar__container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.avatar__image {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.2s ease;
}

.avatar--very_small .avatar__container {
  width: 24px;
  height: 24px;
}

.avatar--small .avatar__container {
  width: 36px;
  height: 36px;
}

.avatar--medium .avatar__container {
  width: 48px;
  height: 48px;
}

.avatar--large .avatar__container {
  width: 200px;
  height: 200px;
}

@media (width <= 1024px) {
  .avatar--large .avatar__container {
    width: 150px;
    height: 150px;
  }
}

@media (width <= 768px) {
  .avatar--large .avatar__container {
    width: 120px;
    height: 120px;
  }
}

@media (width <= 480px) {
  .avatar--large .avatar__container {
    width: 90px;
    height: 90px;
  }
}

.avatar:hover .avatar__image {
  opacity: 0.9;
}

.avatar__status {
  position: absolute;
  z-index: 2;
  right: 10%;
  bottom: 10%;
  width: 10%;
  min-width: 8px;
  height: 10%;
  min-height: 8px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #42b883;
}

