.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-dark-500);
  padding: 24px 24px 36px 24px;
  width: 100%;
  max-width: 378px;
  margin: 0 auto;
  /*min-height: 100vh;*/
  border: 1px solid var(--color-dark-300);
}

.title {
  text-align: center;
  margin-top: 37px;
  color: var(--color-light-100);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.field {
  width: 100%;
  border-color: var(--color-dark-300);
  margin-top: 37px;
}

.text {
  text-align: left;
  font-weight: var(--font-weight-regular);
  /*надо дабавить цвет в глобальные*/
  color: #8d9094;
  line-height: var(--line-height-m);
  font-size: var(--font-size-s);
  margin-top: 7px;
}

.textLink {
  color: var(--color-light-100);
  margin-top: 23px;
  text-align: left;
}

.button,
.buttonPage,
.buttonPassword {
  width: 100%;
  max-width: 330px;
  margin-top: 24px;
}

.backLink {
  color: var(--color-accent-500);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-m);
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 24px;
}

/*хук для валидации*/
.errorMessage {
  color: var(--color-danger-500);
  font-size: var(--font-size-s);
  margin-top: 1px;
}

/*!* Капча *!*/
.captchaContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  max-width: 300px;
  width: 100%;
  background: #171717;
}

/*стили для страницы с картинкой*/
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /*min-height: 100vh;*/
}

.contentPage {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.textPage {
  color: var(--color-light-100);
  text-align: center;
  align-items: center;
  max-width: 294px;
  margin-top: 20px;
}

.buttonPage {
  margin: 30px 0;
  max-width: 294px;
}

.illustration {
  max-width: 100%;
  height: auto;
}

/*создания нового пароля*/
.buttonPassword {
  margin-top: 40px;
}

/*стили- modal*/
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.contentModal {
  background-color: var(--color-dark-300);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 378px;
  padding: 12px 24px 36px;
}

.titleModal {
  margin: 0;
  text-align: left;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 15px;
}

.textModal {
  /*margin-top: 16px;*/
  text-align: left;
}

.buttonModal {
  margin-top: 18px;
  margin-left: 230px;
}

.hr {
  border: 1px solid var(--color-dark-100);
  margin: 11px -24px 0;
}

.isVisible {
  display: none;
}
