

.dialog {
  margin-top: 350px;
  background-color: #333333;
  padding:0;
  z-index: 100;
  /*all: unset; отменяет все стиля радикса*/
}
/* Переопределение для контента (убираем padding: 24px)  это времено пока колега изменит стили */
.dialog :global(.Dialog_content__1SCiD) {
  padding: 0 !important;
}

.wrapper {
  width: 100%;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  border: none;
  background: #333333;
  position: relative;
}

.imgBox {
  display: flex;
  flex: 0 0 490px;
  width: 100%;
  background: #f5f5f5;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  flex: 1;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
}

/* PostCard - верхняя часть */
.post {
  flex-shrink: 0;
  margin-bottom: 24px;
  box-shadow: none;
}

/* Счетчик - фиксированная высота */
.counter {
  font-size: 12px;
  line-height: 24px;
  color: #8D9094;
  text-align: right;
  flex-shrink: 0;
}

.button, .buttoninfo {
  /*max-width: 100%;*/
  margin-top: 200px;
  align-self: flex-end;
}

.buttoninfo {
  margin-top: 30px;
}
/*стили для  мадального окна сообщение */
.editbutton {
  max-width: 100%;
  border: 1px solid #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--color-light-100);
}

/*для мыдального окна c сообщением  */
.confirmContent {
  padding: 24px;
}

.confirmText {
  /*margin-bottom: 30px;*/
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light-100);
}

.confirmButtons {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}


/* Стили для confirm диалогового окна */
.confirmDialog {
  z-index: 1000; /* Выше overlay (999), должен быть выше основного окна */
  position: fixed;
  margin-top: 350px;
  background-color: #333333;
  max-width: 486px;
  padding: 0;
}

.confirmContent {
  padding: 0;
  width: 100%;
}

.confirmText {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light-100);
  text-align: left;
}

.confirmButtons {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

