.card {
  align-self: center;

  width: 378px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-dark-500);
  padding: 32px;
  border-radius: 1px;
  color:  var(--color-light-100);
  height: 100%;

  /*padding: 0;*/

}

.title {

  margin-bottom: 13px;
}

.oAuth {
  display: flex;
  column-gap: 60px;
  justify-content: center;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorField {
  color:  var(--color-danger-300);
  border: 1px solid var(--color-danger-700);;
  background-color: RGBA(153, 15, 43, 0.3);
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.fieldsWrapper {
  display: flex;
  flex-direction: column;
}

.fieldsWrapper > div:not(:last-child) {
  margin-bottom: 24px;
}

.fieldsWrapper > div:has([data-errortext='true']) {
  margin-bottom: 0;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-top: -8px;
  margin-bottom: 8px;
}

.forgotLink {

  display: flex;
  color: var(--color-light-900);
  transition: color 0.2s;
  justify-content: right;
  margin-bottom: 24px;
  margin-top: 36px;
}

.buttonWraper {
  margin-bottom: 18px;
  width: 100%;
}

.bottomText {
  text-align: center;
  color: var(--color-accent-500);
}

.bottomText p {
  color: var(--color-light-500);
}

.textContent {
  margin-bottom: 6px;
}

.signUpLink {

  transition: color 0.2s;
}


.full{
  width: 100%;
}
