
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  font-size: var(--font-size-m);
  line-height: var( --line-height-s);
  font-weight: var(--font-weight-semi-bold);
  margin: 0 0 18px 0;
  color: var(--color-light-100);
}

.infobox {
  display: flex;
  gap: 45px;
  border: 1px solid var(--color-dark-300);
  padding: 22px 24px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-900);
  font-weight: var(--font-weight-regular);
}

/*цифы*/
.date {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  font-weight: var(--font-weight-semi-bold);
}
/*текс для цифр*/
.renewalText {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  font-weight: var(--font-weight-regular);
}

/*для чекбокс текс*/
.renewal {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}


