.registredContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 24px;
  max-width: 972px;
  background-color: var(--color-dark-500);
}

.registredContainer .numberContainer {
  display: flex;
  width: 203px;
  height: 48px;
  background-color: var(--color-dark-700);
}

.registredContainer .numberContainer ul {
  display: flex;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  gap: 3px;
}

.registredContainer .numberContainer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: relative;
}

.registredContainer .numberContainer ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 100%;
  margin-left: 2px;
  width: 1px;
  height: 30px;
  background-color: var(--color-dark-300);
}

