.userPostsList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 972px;
  margin-top: 36px;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 972px;
  /*margin: 0 auto;*/
}
