/*.container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  min-height: 100vh;*/
/*  background: #171717;*/
/*}*/

.form {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  /*border: 1px solid #333333;*/
  background: #171717;
  padding: 24px;
  /*width: 100%;*/
  max-width: 378px;
  min-height: 100vh;
  border: 1px solid #333333;
  border-radius: 2px;
}

.title {
  text-align: center;
  margin-bottom: 37px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.field {
  width: 100%;
  border-color: #333333;
  margin-bottom: 7px;
}

.text {
  text-align: left;
  font-weight: 400;
  color: #797476;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 17px;
}

.button {
  width: 100%;
  margin-bottom: 24px;
}

.backLink {
  color: #397DF6;
  font-weight: 600;
  font-size: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 24px;
}

/* Капча */
.captchaContainer {
  border: 1px solid #333333;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  width: 100%;
}

.captchaLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  color: #fff;
}

.captchaCheckbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #4299e1;
}

.checkboxText {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.captchaLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2px;
}

.captchaTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captchaLine1, .captchaLine2 {
  font-size: 6px;
  color: #fff;
  font-weight: 500;
  line-height: 1; /* ← делаем минимальную высоту строки */
}
