
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var( --color-dark-500);
  padding: 24px  24px 36px 24px;
  width: 100%;
  max-width: 378px;
  /*min-height: 100vh;*/
  border: 1px solid var(--color-dark-300);
}

.title {
  text-align: center;
  margin-top: 37px;
  color: var( --color-light-100);
  font-size: var( --font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.field {
  width: 100%;
  border-color: var( --color-dark-300);
  margin-top: 37px;
}

.text {
  text-align: left;
  font-weight: var(--font-weight-regular);
  /*надо дабавить цвет в глобальные*/
  color: #8D9094;
  line-height: var( --line-height-m);
  font-size: var(--font-size-s);
  margin-top: 7px;
}

.textLink {
  color: var(--color-light-100);
  margin-top: 23px;
  text-align: left;
}

.button, .buttonPage, .buttonPassword   {
  width: 100%;
  max-width: 330px;
  margin-top: 24px;
}

.backLink {
  color: var(--color-accent-500);
  font-weight: var( --font-weight-semi-bold);
  font-size: var(--font-size-m);
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 24px;
}

/*хук для валидации*/
.errorMessage {
  color: var(--color-danger-500);
  font-size: var(--font-size-s);
  margin-top: 1px;
}

/* Капча */
.captchaContainer {
  border: 1px solid var(--color-dark-300);
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.captchaLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  color: var(--color-light-100);
}

.captchaCheckbox {
  cursor: pointer;
}

.checkboxText {
  font-size: var(--font-size-s);
  color: var(--color-light-100);
  font-weight: var(--font-weight-medium);
}

.captchaLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px
}

.captchaTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captchaLine1, .captchaLine2 {
  font-size: 6px;
  color: var(--color-light-100);
  font-weight: var(--font-weight-medium);
  line-height: 1;
}
.captchaLine2 {
  line-height: 2;
}
/*стили для страницы с картинкой*/
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /*min-height: 100vh;*/
}
.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.textPage {
  color: var(--color-light-100);
  text-align: center;
  align-items: center;
  max-width: 294px;
  margin-top: 20px;
}

.buttonPage {
  margin-top: 30px;
  max-width: 294px;
}

.illustration {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}

/*создания нового пароля*/
.buttonPassword {
  margin-top: 41px;
}
