
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #171717;
  padding: 24px  24px 36px 24px;
  width: 100%;
  max-width: 378px;
  /*min-height: 100vh;*/
  border: 1px solid #333333;
}

.title {
  text-align: center;
  margin-top: 37px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.field {
  width: 100%;
  border-color: #333333;
  margin-top: 7px;
}

.text {
  text-align: left;
  font-weight: 400;
  color: #797476;
  line-height: 24px;
  font-size: 14px;
  margin-top: 17px;
}

.textLink{
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  font-weight: 400;
  margin-top: 24px;
}

.button, .buttonPage  {
  width: 100%;
  margin-top: 24px;
}

.backLink {
  color: #397DF6;
  font-weight: 600;
  font-size: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 24px;
}

/* Капча */
.captchaContainer {
  border: 1px solid #333333;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.captchaLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  color: #fff;
}

.captchaCheckbox {
  cursor: pointer;
}

.checkboxText {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.captchaLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2px;
}

.captch {
  width: 30px;
  height: 30px;
}

.captchaTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captchaLine1, .captchaLine2 {
  font-size: 6px;
  color: #fff;
  font-weight: 500;
  line-height: 1; /* ← делаем минимальную высоту строки */
}

/*стили для страницы с картинкой*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*min-height: 100vh;*/
  /*padding: 20px;*/
}

.content {
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.textPage {
  color: #fff;
  text-align: center;
  max-width: 294px;

}

.buttonPage {
  margin-top: 20px;
}

.illustration {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}
