.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 492px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  flex-shrink: 0;
}

.subHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  gap: 12px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actions {
  display: flex;
  gap: 8px;
}

/*.cropContainer {*/
/*  position: relative;*/
/*  flex: 1;*/
/*  width: 100%;*/
/*  height: calc(100vh - 360px); !* подогнать под модалку — при необходимости изменяй *!*/
/*  max-height: 760px;*/
/*  margin: 12px 16px;*/
/*  background: #0b0b0b;*/
/*  overflow: hidden;*/
/*  border-radius: 10px;*/
/*  touch-action: none;*/
/*  user-select: none;*/
/*}*/
.cropContainer {
  flex: 1;
  min-height: 400px;
  background: #0b0b0b;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  touch-action: none;
}
.cropImage {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  max-width: none;
  max-height: none;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.45) inset;
  z-index: 10;
  border-radius: 8px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  gap: 12px;
  flex-shrink: 0;
}

.aspect {
  display: flex;
  gap: 8px;
}

.zoom {
  display: flex;
  align-items: center;
  gap: 8px;
}

.paragraph {
  margin: 0;
}
