.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 18px;
}

.description {
  text-align: left;
  width: 100%;
}

.subtext {
  margin-top: 8px;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 24px;
}
