
.captchaContainer {
  border: 1px solid var(--color-dark-300);
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.captchaLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  color: var(--color-light-100);
}

.captchaCheckbox {
  cursor: pointer;
}

.checkboxText {
  font-size: var(--font-size-s);
  color: var(--color-light-100);
  font-weight: var(--font-weight-medium);
}

.captchaLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px
}

.captchaTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captchaLine1, .captchaLine2 {
  font-size: 6px;
  color: var(--color-light-100);
  font-weight: var(--font-weight-medium);
  line-height: 1;
}

.captchaLine2 {
  line-height: 2;
}
