/*стили ка поста */
.postCard {
  display: flex;
  justify-content: space-between;
  background: #333333;
  padding: 12px 18px  12px 0;
  width: 100%;
  max-width: 480px;

}

.card {
  display: flex;
  gap: 12px;
}

.content {
  flex: 1;
  min-width: 0;
  width: 100%;
}

/* Только имя пользователя */
.top {
  display: flex;
  /*align-items: center;*/
}

.userName {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}

/* Стили для аватарки (если нужно) */
.avatar {
  border-radius: 50%;
}
