.postCard {
  display: flex;
  justify-content: space-between;
  width: 480px;
  background-color: #4c4c4c;
  padding: 12px 16px;
}

.card{
  display: flex;
  gap: 12px;
  /*padding: 12px 16px;*/
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  border-radius: 50%;
}
.content {
  flex: 1;
  min-width: 0;
}

.userName {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  /*margin-right: 290px;*/

}

.textBlock {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;

}

/*.top {*/
/*  display: flex;*/
/*  align-items: flex-start;*/
/*  gap: 8px;*/
/*  margin-bottom: 4px;*/
/*}*/

.noDescription {
  margin-right: 290px;
}

.bottom {
  display: flex;
  text-align: left;
  gap: 12px;
  margin-top: 5px;
  /*padding: 12px;*/

}

.description {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4;
  flex: 1;
  word-wrap: break-word;

}

.timeAgo, .answer {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8D9094;
  white-space: wrap;
}
