.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  max-width: 378px;
  width: 100%;
}

h2 {
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-l);
  text-align: center;
  color: var(--color-light-100);
}

.containerBtn {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 13px 0;
}

.containerInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 84px;
}

.inputCustom {
  min-width: 330px;
  min-height: 36px;
  width: 100%;
}

.containerIAgree {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 12px;
}

span {
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
  color: var(--color-light-100);
}

span a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-accent-300);
}

p {
  font-family: var(--font-weight-regular);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  text-align: center;
  color: var(--color-light-100);
  padding: 18px 0 6px;
}

.buttonFoolWidth{
  width: 100%;
}
