.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-300);
    border-radius: 2px;
    max-width: 378px;
    width: 100%;
}


.containerBtn {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 13px 0;
}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 84px;
}

.inputCustom {
    min-width: 330px;
    min-height: 36px;
    width: 100%;
}

.containerIAgree {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 12px;
}

.paragraph {
    display: inline;
}

.buttonFullWidth {
    width: 100%;
    margin-bottom: 18px;
}
.link{
    font-size: var(--font-size-xs);
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.contentModal {
  background-color: var( --color-dark-300);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 378px;
  padding: 12px 24px 36px;
}

.titleModal {
  margin: 0;
  text-align: left;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 15px;

}

.textModal {
  margin-top: 16px;
  text-align: left;
}

.buttonModal {
  margin-top: 18px;
  margin-left: 230px;
}

.hr {
  border: 1px solid var( --color-dark-100);
  margin: 11px -24px 0 ;

}
