.wrapperEmailResending {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.resendingMessage {
  text-align: center;
  margin: 19px 0 30px;
  max-width: 294px;
  width: 100%;
}

.form {
  max-width: 229px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button {
  margin-bottom: 36px;
  padding: 6px 0;
  font-size: 16px;
  width: 100%;
}
