
/* Контейнер для всей страницы */
.container {
  width: 100%;
  border: none;
}

/* Карточка формы */
.form {
  width: 100%;
  padding: 24px 64px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Контейнер для фото и полей (рядом) */
.formContent {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
  /*margin-bottom: 24px; !* Отступ перед полоской *!*/
}

.photoBox {
  width: 192px;
  height: 192px;
  background: var(--color-dark-300);
  border-radius: 50%;
  flex-shrink: 0;
}

/* Правая колонка с полями */
.formFields {
  width: 100%;
  flex: 1;
}

/* Селекты рядом через flex */
.selectsContainer {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

/* Каждый селект занимает половину */
.selectsContainer > * {
  flex: 1;
}

/* Отступы между всеми элементами формы */
.formFields > *:not(.selectsContainer) {
  margin-top: 24px;
  display: block;
}

/* Для первого элемента убираем верхний отступ */
.formFields > *:first-child {
  margin-top: 0;
}

.errorMessage {
  color: var(--color-danger-300);
  font-size: 14px;
  margin-top: 2px;
}

/* Полоска-разделитель - на всю ширину карточки */
.hr {
  border-top: 1px solid #4c4c4c;
  margin: 24px -64px;
  width: calc(100% + 128px); /* 100% + (64px * 2) для выхода за padding */
}

/* Кнопка - центрируем */
.button {
  margin-left: auto;
  width: auto;
}

/* Обёртка для поля с иконкой */
.dateInputWrapper {
  position: relative;
  width: 100%;
  height: fit-content;
}

/*календарь */
.calendarIcon {
  position: absolute;
  right: 12px;
  top: calc(50% + 10px); /* +8px чтобы опустить ниже от лейбла */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: var(--color-light-100);
  pointer-events: none;
  z-index: 1;

}
