.likeButton {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.heartIcon {
  width: 24px;
  height: 24px;

}
/* переопределения стилей для кнопки */
.likeButton:global(.button_textButton__jRzeq):hover,
.likeButton:global(.button_textButton__jRzeq):focus,
.likeButton :global(.button_textButton__jRzeq) {
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
  background: none;
}


