.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-bottom: 1px solid var(--color-dark-100);
  }

  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 48px 24px;*/
    min-height: 400px;
    /*background: var(--color-dark-500);*/

  }

  .image {
    /*max-width: 100%;*/
    /*max-height: 500px;*/
    /*border-radius: 50%;*/
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 24px;
    border-top: 1px solid var(--color-dark-100);
  }
