.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 18px;
}

.description {
  text-align: left;
  width: 100%;
}

.subtext {
  margin-top: 8px;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btnDiscard:active{
  background-color: var(--color-accent-500);
  color: var(--color-light-100);
}
