.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 492px;
}
.wrapper :global(.PublicationStep-module__7eatEW__imageSection) {
  padding: 0 !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-dark-100);
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
  /*gap: 24px;*/
}

/* Левая часть - изображение */
.imageSection {
  /*flex: 1;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*padding: 24px;*/
  /*min-width: 0;*/
}

.imageSlider {
  width: 100%;
  min-width: 492px;
  max-width: 100%;
  /*height: 100%;*/
}

/* Правая часть - форма */
.formSection {
  /*flex: 0 0 400px;*/
  display: flex;
  flex-direction: column;
  padding: 24px 24px 0 24px;
  overflow-y: auto;
  min-width: 492px;
  /*width: 100%;*/
  /*border-left: 1px solid rgba(255, 255, 255, 0.04);*/
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--color-accent-500);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
  flex-shrink: 0;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-900);
}

.textarea {
  width: 100%;
  padding: 12px;
  color: var(--color-light-900);
  background-color: transparent;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  resize: vertical;
  min-height: 120px;
  box-sizing: border-box;
}

.textarea::placeholder {
  color: var(--color-dark-100);
}

.textarea:hover:not(:disabled):not(:focus) {
  border: 1px solid var(--color-light-900);
}

.textarea:focus {
  outline: none;
  color: var(--color-light-100);
  border: 1px solid var(--color-accent-500);
}

.charCount {
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-dark-100);
  font-family: var(--font-family-inter);
}
