.form {
  display: flex;
  flex-direction: column;
  max-width: 378px;
  height: fit-content;
  margin: 24px auto;
  padding: 24px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-dark-500);
  color:  var(--color-light-100);
  height: 100%;

}


  .title {
    align-self: center;
    margin-bottom: 13px;
  }



.oAuth {
  display: flex;
  column-gap: 60px;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  max-width: 348px;
  margin: 24px 0 18px;

}

.fieldsWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 24px;

  margin-bottom: 36px;
}



.forgotPasswordLink {
  max-width: 112px;
  margin: 0 0 24px auto;

  color: var(--color-light-900);
  text-align: right;
  text-decoration: none;

  &:visited {
    color: var(--color-light-900);
  }
}

.registration {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  align-items: center;
}
