.DropdownMenuContent {
  min-width: 137px;
  background-color: #171717;
  padding: 13px 12px;
  border: 1px solid #4c4c4c;
  z-index: 1200;
}

.DropdownMenuItem {
  /* Стили для каждого отдельного пункта меню */
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 12px 8px;
  position: relative;
  user-select: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  margin-top: 4px;
}

.DropdownMenuItem:first-child {
  margin-top: 0;
}

.DropdownMenuItem:hover,
.DropdownMenuItem[data-highlighted] {
  background-color: #2c2c2c;
}

.DropdownMenuItem:focus-visible {
  background-color: #2c2c2c;
  outline: 2px solid #4c4c4c;
  outline-offset: -2px;
}

.DropdownMenuItem .icon {
  margin-right: 12px;
}

.dots {
  width: 24px;
  height: 24px;
}

.IconButton {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  position: relative;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.IconButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.IconButton:focus-visible {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 2px solid #4c4c4c;
  outline-offset: 2px;
}
