/* src/shared/ui/dropdown/Dropdown.module.css */

.DropdownMenuContent {
  width: 137px;
  background-color: #171717;
  padding: 13px 12px;
  border: 1px #4c4c4c;
}

.DropdownMenuItem {
  /* Стили для каждого отдельного пункта меню */
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
  /*user-select: none;*/
  outline: none;
  cursor: pointer;
}

.DropdownMenuItem .icon {
  margin-right: 12px;
}

.IconButton {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}
