
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Лейбл */
.label {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #8D9094;
  margin-bottom: 2px;
}

/* Card вокруг textarea */
.textareaCard {
  width: 100%;
  /*макету для формы надо 433px*/
  outline: none;
  background: #171717;
  border: 1px solid #4c4c4c;
  border-radius: 2px;
}

/* Hover */
.textareaCard:hover {
  border-color: #4c4c4c;
}

/* Active/Focus */
.textareaCard:focus-within {
  border-color: #2F68CC;
  border-width: 2px;
}

.textarea:focus {
  outline: none;
  border-color: #ffffff;
  color: #fff;
}

/* Error */
.errorCard {
  color: #ffffff;
  border-color: #cc1439;
}

/* Disabled */
.textareaCard:has(.textarea:disabled) {
  border-color: #4c4c4c;
  background: #171717;
}

/* Сама textarea */
.textarea {
  width: 100%;
  height: 100%;
  padding: 12px 12px 42px 12px;
  background: transparent;
  font-size: 16px;
  line-height: 24px;
  color: #8D9094;
  resize: vertical;
  outline: none;
  font-weight: 400;
  /*border: none;*/
}

/* Заблокирован */
.textarea:disabled {
  color: #4c4c4c;
}

/* Текст ошибки */
.errorText {
  display: block;
  font-size: 14px;
  color: #cc1439;
  margin-top: 2px;
}
